<ion-content>
  <!-- Card de Perfil -->
  <div *ngIf="mostrarPerfil" class="card-wrapper">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ usuario.nombre }} {{ usuario.apellido }}</ion-card-title>
        <ion-card-subtitle>{{ usuario.rut }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Correo:</strong> {{ usuario.correo }}</p>
        <p><strong>Teléfono:</strong> {{ usuario.telefono }}</p>
        <!-- Botón de cerrar sesión -->
        <ion-button expand="block" color="danger" (click)="cerrarSesion()">Cerrar sesión</ion-button>
        <!-- Botón de "Mis Talleres" -->
        <ion-button expand="block" color="primary" (click)="verMisTalleres()">Mis Talleres</ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Card de Mis Talleres -->
  <div *ngIf="!mostrarPerfil" class="card-wrapper">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Mis Talleres</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <!-- Mostrar mensaje si no hay talleres -->
        <div *ngIf="talleresUsuario.length === 0" class="no-talleres">
          <p>Aún no estas inscrito a ningun taller.</p>
        </div>

        <!-- Mostrar lista de talleres si existen -->
        <ion-list *ngIf="talleresUsuario.length > 0">
          <ion-item *ngFor="let taller of talleresUsuario">
            <ion-label>
              <h2>{{ taller.nombre }}</h2>
              <h3>Instructor {{ taller.instructor }} en Sala {{ taller.sala }}</h3>
              <p>{{ taller.descripcion }}</p>
            </ion-label>
            <!-- Botón para abandonar el taller -->
            <ion-button color="danger" fill="outline" (click)="abandonarTaller(taller.id)">Abandonar</ion-button>
          </ion-item>
        </ion-list>

        <!-- Botón para volver -->
        <ion-button expand="block" color="tertiary" (click)="volver()">Volver</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
