<ion-header>
  <ion-toolbar>
    <ion-title>administrar</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Alternar entre servicios -->
<div id="alternar">
  <ion-button>Administrar Usuario</ion-button>
  <ion-button>Administrar Taller</ion-button>
  <ion-button>Administrar Seccion</ion-button>
</div>

<ion-content>

  <!-- Formulario Usuario -->
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Administrar</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form></form>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Formulario Taller -->
   <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Administrar Taller</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form></form>
      </ion-card-content>
    </ion-card>
   </div>

   <!-- Formulario Seccion -->
    <div>
      <ion-card>
        <ion-card-header>Administrar Seccion</ion-card-header>
        <ion-card-content>
          <form></form>
        </ion-card-content>
      </ion-card>
    </div>
    
</ion-content>
