<ion-content class="ion-padding">
  <!-- Carta de inicio de sesión -->
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-content>
        <!-- Campos de entrada y botones -->
        <ion-input [(ngModel)]="correo" type="text" label="Correo" labelPlacement="stacked" fill="outline" placeholder="ejemplo@correo.com"></ion-input>
        <br>
        <ion-input [(ngModel)]="contrasena" type="password" label="Contraseña" labelPlacement="stacked" fill="outline" placeholder="Aquí va su contraseña">
          <ion-input-password-toggle slot="end"></ion-input-password-toggle>
        </ion-input>
        <br>
        <ion-button (click)="loginUsuario(correo, contrasena)" color="warning" expand="full" fill="outline" shape="round" >Iniciar Sesión</ion-button>
      </ion-card-content>
    </ion-card-header>
  </ion-card>
  <p style="text-align: center; padding: 5px;">¿Aún no tiene cuenta? <a routerLink="/registro">¡Regístrate!</a></p>
</ion-content>